#title {
	background-color: rgba(103, 75, 255, 255);
	padding-left: 200px;
	padding-top: 50px;
	padding-right: 200px;
}

#myapp {
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-item.nav-link {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: rgba(175, 159, 254, 255);
	font-weight: bolder;
}
