#title {
	background-color: rgba(103, 75, 255, 255);
	padding-left: 15%;
	padding-top: 50px;
	padding-right: 15%;
}

#myapp {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
}

#mytitle {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 55px;
	margin-top: 10%;
}

.bold {
	font-weight: bold;
	font-size: 25px;
	margin-left: 50px;
	font-family: Arial, Helvetica, sans-serif;
}

#titlediv1 {
	padding-left: 1%;
}

.titlediv {
	padding-top: 50px;
	height: 400px;
	overflow: hidden;
}

#clip {
	margin-left: 50px;
	width: 260px;
	height: 500px;
	transform: rotate(25deg);
}

@media (max-width: 767px) {
	#clip {
		width: 260px;
		height: 500px;
		margin-right: 50px;
		padding-bottom: 10%;
		transform: rotate(0deg);
	}
	.titlediv {
		height: 500px;
		overflow: visible;
	}
	#mytitle {
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bolder;
		font-size: 35px;
	}
	#titlediv1 {
		padding-left: 3%;
	}
}
#download-google-play {
	margin-left: 10px;
	background-color: rgba(103, 75, 255, 255);
	border-color: white;
}

#features {
	text-align: center;
	height: 300px;
}

.features-icon {
	font-size: 70px;
	color: rgba(103, 75, 255, 255);
}
#featuresrow {
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 20%;
	margin-right: 20%;
}

#testimonials {
	background-color: rgba(103, 75, 255, 255);
}

.bolder {
	font-weight: 800;
}
