.purple-bg{
	background-color: rgba(103, 75, 255, 255);
}


.arial-font{
	font-family: Arial, Helvetica, sans-serif;
}

#myapp {
	color: white;
	font-size: 3.125em;
}

.myfont {
	color: white;
	font-weight: bolder;
	font-size: 4em;
}

#test{
	margin-bottom: 25px;
}

.download-google-play {
	margin-left: 10px;
	background-color: rgba(103, 75, 255, 255) !important;
	border-color: white !important;
}

.download-google-play:hover {
	background-color: mediumslateblue !important;
}

.bold {
	font-weight: bold;
	font-size: 1.5625em;
	margin-left: 50px;
}

.image-div {
	padding-top: 50px;
	height: 400px;
	overflow: hidden;
}

#dog-image {
	width: 260px;
	height: 500px;
	transform: rotate(25deg);
}

#features {
	text-align: center;
	height: 300px;
}

#featuresrow {
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 20%;
	margin-right: 20%;
}

.bolder {
	font-weight: 800;
}

#testimonials {
	height: 700px;
	text-align: center;
	padding-top: 5%;
}

.margin-top {
	margin-top: 70px;
}

.dogimg {
	border-radius: 50%;
	width: 90px;
	height: 60px;
}

#packages {
	text-align: center;
}

#pricing{
	text-align: center !important;
}

.pricing-title {
	font-weight: bold;
	padding-top: 50px;
	text-align: center;
}

.pricing-subtitle {
	font-weight: bold;
	margin-top: 7px;
}

#cta {
	text-align: center;
	height: 300px;
	padding-top: 10px;
}

.pad-top {
	padding-top: 30px;
}

#footer {
	height: 300px;
}

.footericons {
	font-size: 1.875em;
	margin: 20px;
	margin-top: 70px;
	margin-bottom: 40px;
	color: rgb(41, 38, 38);
}

.footericons:hover {
	color: rgb(71, 71, 87);
}

.features-icon {
	font-size: 4.375em;
	color: rgba(103, 75, 255, 255);
}

em {
	color: white;
}

.addmargin {
	margin-top: 30px;
	margin-bottom: 100px;
}


#whitebtn {
	background-color: white;
	border-color: black;
}

#whitebtn:hover {
	background-color: rgb(39, 37, 37);
	border-color:  rgb(39, 37, 37);
	color: white;
}

.pricing-card {
	width: 300px;
	text-align: center;
	margin: 10%;
}

.pricing-card-title {
	background-color: rgba(247, 247, 247, 255);
	height: 50px;
	border-bottom: 1px solid rgba(225, 225, 225, 255);
}

#mtv {
	width: 200px;
	height: 75px;
	margin-right: 25px;
}

#lbc {
	width: 200px;
	height: 200px;
}

@media (max-width: 950px) {
	/*layout on small screens*/
	#dog-image {
		margin-left: 0px !important;
		padding-bottom: 10%;
		transform: rotate(0deg);
	}

	.myfont{
		font-size: 3em;
		margin-left: 5px;
		margin-right: 5px;
	}

	.image-div {
		height: 500px;
		overflow: visible;
		text-align: center;
		margin-left: 20%;
		margin-right: 20%;
	}

	#titlediv1 {
		padding-left: 3%;
		text-align: center;
	}

	#features {
		text-align: center;
		height: 500px;
	}

	#mtv {
		width: 150px;
		height: 50px;
		margin-right: 15px;
		margin-top: 50px;
	}

	#lbc {
		width: 150px;
		height: 150px;
		margin-top: 50px;
	}
}

